<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			button {
				background: white;
				color: black;
				border: 1px solid rgb(200, 200, 200);
				border-radius: 4px;
			}
			.active {
				background: teal;
				color: whitesmoke;
			}
		</style>
	</head>
	<body>
		<div id="app" v-bind:class="{ dark: isActive}">
			<p v-html="p"></p>
			<label for="angka"
				>Masukan Angka :
				<input type="text" v-model="angka" v-on:keyup.enter="hitung" /></label
			><br />
			<button @click="hitung">Proses</button>
			<h1>bilangan ini adalah bilangan {{ jenisBilangan }}</h1>
			<p>{{ angka }}</p>

			<button :class="{active: menu === 'home'}" @click="menu = 'home'">
				Home
			</button>
			<button :class="{active: menu === 'edit'}" @click="menu = 'edit'">
				Edit
			</button>
			<button :class="{active: menu === 'about'}" @click="menu = 'about'">
				About
			</button>
			<ul v-if="kelas.length > 1">
				<li v-for="k in kelas" v-text="k"></li>
			</ul>
			<ul>
				<li v-for="(item,prop) in person" v-text="prop+' : '+item"></li>
			</ul>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="index2.js"></script>
	</body>
</html>
