<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<input type="text" name="firstname" v-model="firstName" />
			<input type="text" name="lastname" v-model="lastName" />
			<p>{{ fullName }}</p>
			<h1 v-text="bilangan"></h1>
			<button v-on:click="bilangan++">Click</button>
			<img src="" alt="" />
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script>
			var vm = new Vue({
				el: "#app",
				data: {
					firstName: "Tuanku",
					lastName: "Imam Bonjol",
					fullName: "",
					bilangan: 0,
				},
				computed: {
					fullName: {
						get() {
							return (this.fullName = `${this.firstName} ${this.lastName}`);
						},
						set(fullname) {
							const name = fullname.split(" ");

							this.firstName = name[0];
							this.lastName = [...name].join(" ");
						},
					},
				},
				methods: {},
			});
		</script>
	</body>
</html>
