<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quiz 2</title>
    <style>
      * {
        margin-bottom: 8px;
      }
    </style>
	</head>
	<body>
		<div id="app">
      <template v-if="addBtn" >
        <input type="text" ref="typeBox" v-model="name" @keyup.enter="tambahNama" placeholder="Masukan Nama" />
        <button @click="tambahNama">Add</button>
      </template>
      <template  v-else>
        <input type="text" ref="typeBox" v-model="name" @keyup.enter="update" />
        <button @click="update">Update</button>
      </template>	
			<ul>
				<li v-for="(user, index) in users">
					{{user.name}}
					<button @click="edit(user.name, index)">Edit</button> || <button @click="hapus(index)">Delete</butto>
				</li>
			</ul>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script>
			const vm = new Vue({
				el: "#app",
				data: {
					name: "",
          index: null,
					users: [
						{
							name: "Muhammad Iqbal Mubarok",
						},
						{
							name: "Ruby Purwanti",
						},
						{
							name: "Faqih Muhammad",
						},
					],
					addBtn: true,
				},
				methods: {
					tambahNama: function () {
						if(this.name.length == 0){
							alert('nama tidak boleh kosong !')
							this.$refs.typeBox.focus();

						}else{
							const obj = { name: this.name.trim() };
							this.users.push(obj);
							this.name = '';
							this.$refs.typeBox.focus();
						}

					},
          update: function(){
            this.users[this.index].name = this.name;
						this.addBtn = !this.addBtn;
            this.name = '';
						this.$refs.typeBox.focus();
          },
					edit: function (userName, index) {
						this.$refs.typeBox.focus();
						this.name = userName.trim();
						this.addBtn = !this.addBtn;
						this.index = index;
					},
				hapus: function(index){
          let konfirmasi = confirm('Anda Yakin ?');
          if(konfirmasi){
            this.users.splice(index, 1);
          }
        }
				},
			});
		</script>
	</body>
</html>
